!!! Strict
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le styles
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    %title= [@title, "InfoFund"].compact.join(" | ")
    = stylesheet_link_tag 'bootstrap.css', 'bootstrap-responsive', 'styles'
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', 'http://code.highcharts.com/highcharts.js', 'http://code.highcharts.com/modules/exporting.js'
    = javascript_include_tag 'bootstrap.min', 'bootstrap-dropdown', 'underscore-min', 'application'
    = yield_content :include
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ :class => "brand", :href => "/"} InfoFund
          .nav-collapse
            %ul.nav
              %li{:class => active_if_is('home')}
                %a{:href => '/'} Home
              %li{:class => active_if_is('daily')}
                %a{:href => '/daily'} Daily
              %li{:class => active_if_is('about')}
                %a{:href => 'http://blog.malev.com.ar'} About
              %li{:class => active_if_is('contact')}
                %a{:href => 'http://blog.malev.com.ar'} Contact
    .container
      - if content_for?(:hero)
        .hero-unit
          = yield_content :hero
      - if content_for?(:row)
        .row
          = yield_content :row
      = yield
      %hr
      %footer
        %p
          %a{:href => "http://blog.malev.com.ar"} malev
          2012
